* {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}


#dropdown-basic {
  background-color: white;
  color: black;
  width: fit-content;
  font-weight: 500;
  border: none;
  margin-left: 20px;
  font-size: 20px;
}

#dropdown-basic:hover {
  background-color: lightgray;

}

#edit-button,
#create-button {

  margin-top: 10px;
  height: auto;
  width: fit-content;
  font-size: 15px;
  border: none;
  size: 0cm;
}

#edit-button {
  margin-left: 10px;
}

.profile {
  /* flex: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 50%;
  padding-left: 50px; */
  width: 40%;
}

.profile h2 {
  display: inline-block;
}

.dropdown {
  display: inline-block;
}

.irrigation {
  margin: 5px;
  background-color: #007DEB;
  display: flex;
}

.lighting {
  margin: 5px;
  background-color: #95C842;
  display: flex;
}

.temperature {
  margin: 10px;
  background-color: #E7A336;
  display: flex;
}

.title {
  font-size: 30px;
  font-weight: 500;
  color: white;
  flex: 60%;
  text-align: center;
  border-right: 1px solid white;
  padding-top: 10px;
}

.editTitle {
  flex: 30%;
}

.state {
  padding-top: 10px;
  font-weight: 500;
  color: white;
  font-size: 30px;
  flex: 40%;
  text-align: center;
}

.editState {
  flex: 70%;
  text-align: unset;
  margin-left: 4rem;
}

.merit {
  display: inline-block;
  font-weight: 1000;
  font-size: 50px;
  text-align: start;
}

.unit {
  display: inline-block;
  font-size: 15px;
}

.infor {
  padding-bottom: 10px;
}

.calendar {
  font-size: 15px;
  padding-top: 20px;
  font-weight: 400;
}

.group-button {
  display: inline-block;
  text-align: end;
}

.dropdown,
select {
  border: none;
  height: fit-content;
  width: fit-content;
  background-color: white;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10%;
}