  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

  :root {
    --font-family: 'Montserrat', sans-serif;
    --button-color: #51B989;
    ;
  }


  .html {
    font-size: 62.5%;
    font-family: var(--font-family);
  }

  .logo {
    width: 16rem;
  }

  .bodylabel {
    font-weight: 700;
    color: rgba(89, 89, 89, 0.7);
  }

  .header_container {
    display: flex;
    align-items: center;
    /* height: 2.5rem; */
    height: 70px;
    padding: 1rem;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
  }

  .header_login {}

  .inputbox {
    box-sizing: border-box;
    width: 15rem;
    height: 1.5rem;
    border: 1px solid rgba(89, 89, 89, 0.49);
    margin: 0.5rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: large;
    padding: 1rem;
  }

  .header_btn {
    /* Auto layout */
    border: none;
    width: 5rem;
    height: 2.5rem;
    color: #FFFFFF;
    font-family: var(--font-family);
    background: #51B989;
    cursor: pointer;
    font-size: 1rem;
  }

  .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 30px;
    padding-top: 5%;

  }



  /*$ History */

  .graphbox {
    width: 30rem;
  }

  .linegraph {
    width: 1rem;
    height: 10rem;
  }

  /*$ Edit/Create Profile */
  .editProfile {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }

  /* Profile : */
  .editProfile h2 {
    display: inline-block;

  }

  .editProfile_manager {
    margin-left: 30rem;
    display: inline-block;
  }

  .cardContainer {
    width: 100%;
  }

  .editIrrigation {
    margin: 5px;
    background-color: #007DEB;
    display: flex;
  }

  .editLighting {
    margin: 5px;
    background-color: #95C842;
    display: flex;
  }

  .editTemperature {
    margin: 10px;
    background-color: #E7A336;
    display: flex;
  }

  .statefont {
    font-size: 14px;
    font-weight: 300;
  }

  .stateinput {
    width: 4rem;
    height: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.49);
    background-color: transparent;
    color: #FFFFFF;
    margin: 0.5rem;

  }

  .dropdown--state {
    background-color: transparent;
  }

  .dropdown--state select {
    background-color: transparent;
    color: #FFFFFF;
    font: 1em sans-serif;
    font-family: 'Montserrat', sans-serif;
  }